/* Lorem Ipsum CV Stylesheet*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Dosis", sans-serif;
}

h1 {
  font-family: "Tilt Prism", sans-serif;
  color: white;
}

h2,
h3 {
  font-family: "Tilt Prism", sans-serif;
  color: darkcyan;
}

::selection {
  background-color: darkcyan;
  color: white;
}

/* Individual Stylings */

.header {
  padding: 48px 16px;
  text-align: center;
  color: white;
  background-color: darkcyan;
  padding: 30px;
}

.smiley::after {
  content: " 👾";
}

.navlink {
  color: white;
}

.navlink:hover {
  color: goldenrod;
}

.navlink:active {
  color: darkgoldenrod;
}

.navlink + .navlink {
  margin-left: 20px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}

article + article {
  margin-top: 48px;
  border-top: 1px solid darkgray;
}
