/* Lorem Ipsum CV Stylesheet*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
}

@media screen and (min-width: 786px) {
  html {
    font-size: 20px;
  }
  article + article {
    margin-top: 3rem;
  }
}

/*Sollen immer alle Media Queries extra nochmal da gesetzt werden, wo sie zutreffen? Warum kann man sie nicht kombinieren? (zu unübersichtlich bei komplexeren Projekten?)*/

@media screen and (min-width: 992px) {
  html {
    font-size: 22px;
  }
  /* Ist es deshalb notwendig einen Class Selector und einen Child Combinator zu verwenden? Warum lassen sich die Articles nicht so ansprechen hier?*/
  article + article {
    margin-top: 5rem;
    border-top: 0.05rem solid darkgray;
  }
  .badge {
    position: fixed;
  }
}

/* Wenn hier die Schriftfarbe festgelegt wird, lässt sie sich nicht durch Class Selectors überschreiben. Warum?*/
h1,
h2,
h3 {
  font-family: "Tilt Prism", sans-serif;
  color: darkcyan;
}

body {
  margin: 0;
}

::selection {
  background-color: darkcyan;
  color: white;
}

/* Individual Stylings */

/* Kapiere nicht, warum Padding-Top extra gesetzt werden muss*/
.header {
  padding: 2.5rem 1rem;
  padding-top: 3.25rem;
  text-align: center;
  color: white;
  background-color: darkcyan;
}

.div {
  font-size: 4rem;
}

.headline {
  font-size: 1em;
  color: white;
}

.profession {
  font-size: 0.25em;
}

.profession::after {
  content: " 👾";
}

.navlink {
  color: white;
}

.navlink:hover {
  color: goldenrod;
}

.navlink:active {
  color: darkgoldenrod;
}

.navlink + .navlink {
  margin-left: 20px;
}

.badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: "Tilt Prism", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: teal;
  background-color: whitesmoke;
  padding: 0.75rem;
  border: 0.1rem solid rgb(103, 6, 173);
  border-radius: 0.5rem;
}

@media print {
  html {
    color: black;
    background-color: white;
  }
  .headline {
    color: black;
  }
  h1,
  h2,
  h3 {
    color: black;
  }
  .badge {
    display: none;
  }
  .navlink {
    display: none;
  }
}

.main {
  max-width: 75ch;
  margin: 0 auto;
  padding: 0.8rem;
}

.main-headlines {
  position: relative;
  left: -1.5rem;
}

.article-padding {
  padding: 0 1.5rem 0 1.5rem;
}

article + article {
  margin-top: 2.4rem;
  border-top: 0.05rem solid darkgray;
}

.experience-heading {
  display: inline-block;
}

.experience-subheading {
  display: inline-block;
}
